* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color palelette */
    --prim-color: #FF5A5F;
    --sec-color: #1F2937;
    --accent-color: #FBBF24;
    --card-bg: #FFFFFF;
    --light-bg: #F9FAFB;
    --text-muted: #6B7280;
    --text-soft: rgba(255, 255, 255, 0.75);
    --bg-color: linear-gradient(135deg, #FF5A5F, #FBBF24);
    /* Font */
    --yearly-font: "Dancing Script", cursive;
    --prim-font: "Montserrat", sans-serif;
    --sec-font: "Inter", sans-serif;

}

body {
    background: var(--bg-color);
}

/* hero section */
.hero-title-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-family: var(--yearly-font);
    font-size: 64px;
    font-weight: 1200;
    color: #FFFFFF
}

.hero-title-tagline {
    margin-top: 12px;
    font-family: var(--prim-font);
    color: var(--text-soft);
    font-weight: 400;
    font-size: 17.6px;
}

.header {
    height: 63px;
    width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sec-color);
}

/* .header-wrapper {
    width: 36px;
} */